block variables
  -
    var rows = [
      {
        id: 1,
        name: 'Kit Harington',
        nationality: 'British',
        gender: 'Male',
        age: 32
      },
      {
        id: 2,
        name: 'Emilia Clarke',
        nationality: 'British',
        gender: 'Female',
        age: 32
      },
      {
        id: 3,
        name: 'Peter Dinklage',
        nationality: 'American',
        gender: 'Male',
        age: 49
      },
      {
        id: 4,
        name: 'Sean Bean',
        nationality: 'British',
        gender: 'Male',
        age: 59
      },
      {
        id: 5,
        name: 'Maisie Williams',
        nationality: 'British',
        gender: 'Female',
        age: 21
      },
      {
        id: 6,
        name: 'Sophie Turner',
        nationality: 'British',
        gender: 'Female',
        age: 23
      }
    ];